{{!< default}}

{{!-- Aquí inyectamos el contenido de la página landing-test --}}
{{#get "pages" filter="slug:landing-test" include="html"}}
  {{#foreach pages}}
    <section class="page-content gh-outer gh-inner">
      {{{html}}}
    </section>
  {{/foreach}}
{{/get}}
